<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-title>JUEGOS</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title *ngFor="let label of juegos1">{{label.nombre}}</ion-card-title>
        <img src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/517842_256x319.jpg" alt="" style="width:20em;" alt="" style="width:20em;" alt="" style="width:20em;" alt="">
      </ion-card-header>
    
      <ion-card-content *ngFor="let label of juegos1">
        <li> Precio:{{label.precio}}</li>
      </ion-card-content>
      <ion-button>COMPRAR</ion-button>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title *ngFor="let label of juegos2">{{label.nombre}}</ion-card-title>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81zQed-L3eL._AC._SR360,460.jpg" alt="" style="width:20em;" alt="" style="width:11.5em;" alt="" style="width:20em;" alt="" style="width:20em;" alt="">
      </ion-card-header>
    
      <ion-card-content *ngFor="let label of juegos2">
        <li> Precio:{{label.precio}}</li>
      </ion-card-content>
      <ion-button>COMPRAR</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title *ngFor="let label of juegos3">{{label.nombre}}</ion-card-title>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81tdRcle46L._AC._SR360,460.jpg" alt="" style="width:20em;" alt="" style="width:20em;" alt="" style="width:20em;" alt="" style="width:20em;" alt="">
      </ion-card-header>
    
      <ion-card-content *ngFor="let label of juegos3">
        <li> Precio:{{label.precio}}</li>
      </ion-card-content>
      <ion-button>COMPRAR</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title *ngFor="let label of juegos4">{{label.nombre}}</ion-card-title>
        <img src="https://cdn.shopify.com/s/files/1/0559/9513/8226/products/Battlefield2042_PS4_600x600.jpg?v=1644009373" alt="" style="width:25em;" alt="" style="width:20em;" alt="" style="width:20em;" alt="" style="width:20em;" alt="">
      </ion-card-header>
    
      <ion-card-content *ngFor="let label of juegos4">
        <li> Precio:{{label.precio}}</li>
      </ion-card-content>
      <ion-button>COMPRAR</ion-button>
    </ion-card>
    
    
    
  </div>
</ion-content>
